tests/library/testSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://hl7.org/fhirpath/tests"
           targetNamespace="http://hl7.org/fhirpath/tests"
           elementFormDefault="qualified">

  <xs:complexType name="TestType">
    <xs:sequence>
        <xs:element name="library" type="xs:string">
            <xs:annotation>
                <xs:documentation>The full library content to be tested.</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
                <xs:documentation>Description of the test case.</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element name="output" maxOccurs="unbounded" type="tns:OutputType"/>
    </xs:sequence>

    <xs:attribute name="name" type="xs:string" use="required">
        <xs:annotation>
            <xs:documentation>The name of the test suite.</xs:documentation>
        </xs:annotation>
	</xs:attribute>
    <xs:attribute name="reference" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation>A reference to the specification under test.</xs:documentation>
			</xs:annotation>
	</xs:attribute>
  </xs:complexType>

    <xs:complexType name="OutputType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>The expression definition name this output corresponds to.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="tests">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="test" maxOccurs="unbounded" type="tns:TestType"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="reference" type="xs:anyURI"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
